{% extends "PasswordManagerCoreBundle::layout.html.twig" %}

{% block title %}
    Erreur | {{ parent() }}
{% endblock %}
 {% block body %}
     {{ parent() }}

 {% endblock %}

{% block passwordmanager_platform_body_index %}
    <div class="py-5 text-center" id="bg-index-first-content-error-404" >
        <div class="container py-5">
            <div class="row">
                <div class="col-md-12 ">
                    <img  src="{{ absolute_url(asset('img/404.gif'))}}" /><h2 style="color:#2a6496;">Attention, cette page n'existe pas ou n'est plus disponible.</h2>
                    <div class="col-sm-12">
                        <p id="btn-back-list" style="margin-top:100px;">
                            <a href="{{ path('password_manager_core_home') }}" class="btn btn-default error">
                                <i class="glyphicon glyphicon-chevron-left"></i>
                                Retourner à l'accueil
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}