#bg-login-wall{
    background-image: url("../img/background-login.jpg");
    background-size: 100%;
}

#block-form{
    margin-top: 5%;
}

.pb-3.icon.awesome {
    display: inline;
    margin-left: 10px;
}

#link-to-register li{
display:inline;
}

#link-to-register li a{
    display:inline-block;
    margin:10px;
}

a{
    color:#292b2c;
}

.btn .mt-2 .btn-outline-dark
{
    color:#343a40;
}

@media(min-width: 768px){

    nav .navbar {
        border-radius: 0px !important;
    }

}
.navbar{
    margin-bottom: 0px !important;
}

.bg-secondary .p-4.col-md-4 {
    text-align: center !important;
}
.py-5.gradient-overlay.bg-dark.text-white .py-5.col-md-6 a{

    color:#ffffff !important;
}

a:hover{
    text-decoration: unset !important;
}

#list-server{

    border-top: 5px #868e96 solid;
}

#table-pass h2{

    text-align:center;
}

#table-pass{

    margin: 5% auto 5%;

}

#list-footer li{
    display:inline;
    margin: 5px;
}

#list-mdp-title{
    text-align:center;
    margin-top: 80px;
    margin-bottom: 50px;
}

#bg_list-mdp{
    margin-bottom:200px;
}

#sub-list-mdp-title{

    text-align:center;
    margin-bottom: 30px;
}

footer .col-md-12.mt-3 p.text-center.text-white {
    margin-bottom: 11px;
    margin-top: 10px;
}


#bg-index-first-content{

    background-image: url("../img/O7MF5N0.jpg");
    width:100%;
}

.navbar {

    border-radius: 0px !important;
}

#navbarSupportedContent {

    margin-left: 0px !important;
}

#logo-add-pass{

    margin: 0 auto !important;
    display: block;
    margin-bottom:30px !important;
}

#text-delete-pass{
    margin-top:100px;
    text-align:center;
    margin-bottom: 150px;
}

#list-pass-table_wrapper{
    display:inherit !important;
    width: 80% ;
    margin: 0 auto;

}

#list-pass-table_wrapper .row:nth-child(1){

    margin-bottom: 30px;
}

.num-pass-index{
    color:#428bca;
}

body#body-login{
	
	background-color: transparent !important;
}

#bg-login-wall .help-block .list-unstyled{

    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    margin-top: 5px;
    padding: 0.5rem 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

#form-add-password .control-label.required{

    margin-bottom: 7px !important;
}


#plainPassword label .control-label.required:nth-child(1){

    display:none;
}

#profil-card{

    margin-bottom:50px;
}
#img-profil{

    padding-right:10px;
}

.popup {
    width: 100%;
    position: fixed;
    overflow: hidden;
    bottom: 0;
    left: 0;
    transition: all 1s ease;
}

.popup-container {
    height: 80px;
}


.popup-active {
    overflow: hidden;
}

.popup {
    height: 100%;
    width: 100%;
}

.popup-form {
    top: 0;
    height: calc(100% - 49px);
}

.popup-form * {
    opacity: 1;
}

.popup-form {
    top: 0;
}


.popup-close {
    display: inline-block;
    padding: 5px 10px;
    background: #252525;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
}

.cta {
    background: #428BCA;
    color: #fff;
    padding: 15px;
    position: fixed;
    cursor: pointer;
    bottom: 0;
    width: 100%;

}

.cta.newsletter-attention {
    -webkit-animation: newsletter-attention 1s infinite; /* Safari 4+ */
    -moz-animation:    newsletter-attention 1s infinite; /* Fx 5+ */
    -o-animation:      newsletter-attention 1s infinite; /* Opera 12+ */
    animation:         newsletter-attention 1s infinite; /* IE 10+, Fx 29+ */
    animation-delay: 8s;
    animation-duration: 6s;
}

@keyframes newsletter-attention {
    0% { padding: 15px; background: #428BCA; }
    8% { padding: 15px; background: #428BCA; }
    11% { padding: 25px 15px; background:#428BCA }
    13% { padding: 10px; background: #428BCA;}
    15% { padding: 15px; background: #428BCA; }
    17% { padding: 12px; background: #428BCA; }
    19% { padding: 15px; background: #428BCA; }
    100% { padding: 15px;}
}

div#generator-pass{

    margin-bottom:90px;
}